.search input[type="text"]
{
  flex: 1;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
  border: #aaa solid 1px;
  font-size: 16px;
  line-height: 20px;
  padding: 4px 0 4px 16px;
  margin: 0;
}

.search input:focus {
  outline: none;
  border: #000 solid 1px;
}

.search input::placeholder {
  color: #aaa;
  opacity: 1;
  font-size: 16px;
}

.search button {
  display: flex;
  justify-content: row;
  align-items: center;
  justify-content: center;
  flex: 0;
  font-size: 16px;
  line-height: 20px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border: #aaa solid 1px;
  border-left: none;
  background-color: #f8f8f8;
  padding: 8px;
  margin: 0;
  color: #000;
}

.search {
  display: flex;
  width: 100%;
  max-width: 500px;
}